section.KSM_privacy-sec1 
    .container 
        .privacy_title.text-center.mb-5
            h2 Privacy policy 
        .privacy_content 
            h4.content-title COVID -19 Protocols.
            p.content-detail.mb-4 "If you are fully vaccinated against COVID-19, you can resume activities that you did before the pandemic without wearing a mask or staying 6 feet apart, except where required by federal, state, local, tribal, or territorial laws, including local business and workplace guidance. "For your safety and others, especially for our children's, please still wear a mask before enter to our salon until we have new update . Thank you so much for your patience and cooperation.
            h4.content-title OFFERS & COUPONS 
            p.content-detail.mb-4 All coupons must be presented at the time of check out. Offers and coupons cannot be combined with any other offer. 
            h4.content-title SERVICES 
            p.content-detail.mb-4 All services are non-cash refundable. We will try our best to accommodate your service requests and expectations with our best efforts, skills, and technicians. 
            h4.content-title GIFT CARDS
            p.content-detail.mb-4 Gift cards are non-cash refundable and cannot be replaced if lost. Tips are not included as part of gift card services. 
            h4.content-title PRICING 
            p.content-detail.mb-4 Prices may be vary based on length, size, special colors, and service request(s). Please consult with your technicians first, if you have any questions.
            h4.content-title CANCELLATION
            p.content-detail.mb-4 We ask that you please reschedule or cancel at least 24 hours before the beginning of your appointment.
            h4.content-title LATE ARRIVALS
            p.content-detail.mb-4 Appointments will be held for 10 minutes, after this grace period we consider this as a ‘no show’ and the appointment may be given away. Please note that your late arrival will determine the length of your treatment and you will be responsible for the full-service fee. Your services will end accordingly so that the next guest is not delayed.
            h4.content-title CHILDREN
            p.content-detail.mb-4 Please maintain your children under your supervision, Lover’s Nails Kissimmee  is not liable and/or not responsible for any injuries that occur on store premises. 
            h4.content-title JEWELRY, PHONE & PERSONAL BELONGINGS 
            p.content-detail.mb-4 Please have all your jewelry and personal belongings in your possession and protection at all times. Lover’s Nails Kissimmee  is not responsible for any losses or damages to any personal items. 
            h4.content-title DISPUTE OF SERVICES 
            p.content-detail.mb-4 In the event, our services were not performed to your satisfaction. We will try as quickly as possible to resolve any issues.  
            h4.content-title CHOOSING COLOR 
            p.content-detail.mb-4 (For shellac, color powder, acrylic, and dipping powder). Customers will be asked by our technician before any color polishing is to be performed. If after the third nail is completely color polished, no changing of color is allowed. If changing is requested then, the customer will have to incur the cost of changing the color at an additional $15 or more depending on type of service. 
            h4.content-title GUARANTEE
            p.content-detail.mb-4 Full set, Dipping, and Gel polish are guaranteed for 5 business days after your appointment, excluding breakages. If you notice chips or lifting in the first five days, please call to schedule a free repair. 
            h4.content-title ALL OUR TECHNICIANS ARE CERTIFIED & REGISTERED 
            h4.content-title WE SINCERELY APPRECIATE YOUR BUSINESS AND WILL TRY OUR BEST TO GIVE YOU THE BEST EXPERIENCE AT Lover’s Nails Kissimmee . FOR ANY COMMENTS & REQUESTS TO MAKE YOUR VISIT A WONDERFUL EXPERIENCE PLEASE CONTACT OUR MANAGEMENT (407)-350-5912
            

