section.KSM_color-chart 
    .color_title.text-center 
        h2 color chart
        h4 LOVER’S NAILS KISSIMMEE
    .container
        .color-items
            .item-img 
                img(src="./assets/img/color/color-img-1.png", alt="")
            .item-img 
                img(src="./assets/img/color/color-img-2.png", alt="")
            .item-img 
                img(src="./assets/img/color/color-img-3.png", alt="")
            .item-img 
                img(src="./assets/img/color/color-img-4.png", alt="")
            .item-img 
                img(src="./assets/img/color/color-img-5.png", alt="")
            .item-img 
                img(src="./assets/img/color/color-img-6.png", alt="")
            .item-img 
                img(src="./assets/img/color/color-img-7.png", alt="")
            .item-img 
                img(src="./assets/img/color/color-img-8.png", alt="")
            .item-img 
                img(src="./assets/img/color/color-img-9.png", alt="")
            .item-img 
                img(src="./assets/img/color/color-img-10.png", alt="")
            .item-img 
                img(src="./assets/img/color/color-img-11.png", alt="")
            .item-img 
                img(src="./assets/img/color/color-img-12.png", alt="")
            .item-img 
                img(src="./assets/img/color/color-img-13.png", alt="")
            .item-img 
                img(src="./assets/img/color/color-img-14.png", alt="")
            .item-img 
                img(src="./assets/img/color/color-img-15.png", alt="")
            .item-img 
                img(src="./assets/img/color/color-img-16.png", alt="")
            .item-img 
                img(src="./assets/img/color/color-img-17.png", alt="")
            .item-img 
                img(src="./assets/img/color/color-img-18.png", alt="")
            .item-img 
                img(src="./assets/img/color/color-img-19.png", alt="")
            .item-img 
                img(src="./assets/img/color/color-img-20.png", alt="")
            .item-img 
                img(src="./assets/img/color/color-img-21.png", alt="")
            .item-img 
                img(src="./assets/img/color/color-img-22.png", alt="")
            .item-img 
                img(src="./assets/img/color/color-img-23.png", alt="")
            .item-img 
                img(src="./assets/img/color/color-img-24.png", alt="")