section.mnail-newsletter-detail.main-section
    .container
        .row
            .col-md-8
                .main-content(data-aos="fade-right" data-aos-duration='500') 
                    .main-title.mb-4
                        h2 Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    .main-slide
                        .image
                            img(src="./assets/img/blog/blog-img-3.png", alt="")
                    .main-brief-content
                        p(style="border: 0px; margin-bottom: 1em; padding: 0px; outline: none; font-family: 'Open Sans', Arial, Helvetica, sans-serif; font-size: 13px;margin-top: 15px")
                            | Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                            strong(style='border: 0px; margin: 0px; padding: 0px; outline: none;') Nihil impedit velit pariatur laborum 
                            |  Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ea consequuntur dolore expedita alias officia molestiae rerum amet autem. Labore, voluptatem rerum blanditiis veritatis praesentium nesciunt? Ratione, quisquam qui? Accusantium!
                        h3(style='border: 0px; margin: 0px 0px 0.7em; padding: 0px; outline: none; line-height: 1em; color: #444444; font-family: Signika, Arial, Helvetica, sans-serif; font-size: 1.6em;') Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        p(style="border: 0px; margin-bottom: 1em; padding: 0px; outline: none; font-family: 'Open Sans', Arial, Helvetica, sans-serif; font-size: 13px;")
                            | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita incidunt esse voluptatibus molestiae delectus tempore? Harum ipsa saepe id! Culpa necessitatibus voluptatibus exercitationem fugiat nobis inventore minus vitae aliquam soluta. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum quia excepturi esse ducimus quasi ullam aut asperiores, iste corrupti magnam officia, obcaecati sequi ea, tempora vitae nemo voluptate inventore sint. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, vero fugit et quibusdam repellendus porro repellat culpa? Quaerat recusandae eaque quam, iusto perspiciatis ipsum, libero obcaecati neque distinctio cupiditate maiores.
                        #attachment_3753.wp-caption.aligncenter(style="border: 1px solid #e5e5e5; margin: 0px auto; padding: 0px; outline: none; text-align: center; background: #eeeeee; max-width: 100%; height: auto; font-family: 'Open Sans', Arial, Helvetica, sans-serif; font-size: 13px; width: 1090px;")
                            a(href='#', style='border: 0px; margin: 0px; padding: 0px; outline: none; color: #ff9000;')
                                img.size-full.wp-image-3753(src='./assets/img/blog/blog-img-1.png', alt="", width='1080', height='810', sizes='(max-width: 1080px) 100vw, 1080px', style='margin: 0px; padding: 0px; outline: none; max-width: 100%; height: auto;')
                            p.wp-caption-text(style='border: 1px solid #e5e5e5; margin-bottom: 0px; padding: 0px; outline: none; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;') Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        h3(style='border: 0px; margin: 0px 0px 0.7em; padding: 0px; outline: none; line-height: 1em; color: #444444; font-family: Signika, Arial, Helvetica, sans-serif; font-size: 1.6em;margin-top: 25px') Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        p(style="border: 0px; margin-bottom: 1em; padding: 0px; outline: none; font-family: 'Open Sans', Arial, Helvetica, sans-serif; font-size: 13px;")
                            | Lorem ipsum
                            strong(style='border: 0px; margin: 0px; padding: 0px; outline: none;') amet consectetur adipisicing elit,
                            |  Lorem ipsum dolor sit amet consectetur adipisicing elit. Non neque cum facilis fugiat mollitia aliquid quam! Earum nostrum quidem, illum architecto nemo error explicabo minus eius necessitatibus sed consequuntur aliquid. Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium veritatis accusamus consequatur ex repellat iusto fuga facere dolorum rem nemo, impedit, assumenda eius. Vitae aut laudantium vero omnis voluptas ea. Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam odit recusandae corrupti pariatur iste nesciunt voluptates nisi quos neque saepe magni porro eos cum doloribus asperiores consequuntur vero, tempore quis.
                        #attachment_3756.wp-caption.aligncenter(style="border: 1px solid #e5e5e5; margin: 0px auto; padding: 0px; outline: none; text-align: center; background: #eeeeee; max-width: 100%; height: auto; font-family: 'Open Sans', Arial, Helvetica, sans-serif; font-size: 13px; width: 1090px;")
                            a(href='', style='border: 0px; margin: 0px; padding: 0px; outline: none; color: #ff9000;')
                                img.size-full.wp-image-3756(src='./assets/img/home/home-img-3.png', alt='', width='1080', height='1328', sizes='(max-width: 1080px) 100vw, 1080px', style='margin: 0px; padding: 0px; outline: none; max-width: 100%; height: auto;')
                            p.wp-caption-text(style='border: 1px solid #e5e5e5; margin-bottom: 0px; padding: 0px; outline: none; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;') Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        h3(style='border: 0px; margin: 0px 0px 0.7em; padding: 0px; outline: none; line-height: 1em; color: #444444; font-family: Signika, Arial, Helvetica, sans-serif; font-size: 1.6em;margin-top: 25px') Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        p(style="border: 0px; margin-bottom: 1em; padding: 0px; outline: none; font-family: 'Open Sans', Arial, Helvetica, sans-serif; font-size: 13px;")
                            | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam minus vitae aut autem fugit exercitationem dolorum eum rerum, voluptates deleniti veritatis vero laborum corrupti quibusdam quia, aperiam expedita nihil animi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat recusandae assumenda, officiis temporibus perspiciatis beatae fugit sed doloremque minus nam incidunt sunt magnam nobis. Voluptate, ipsam. Fuga, voluptate. Magni, commodi. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima distinctio delectus veniam numquam, expedita voluptate est nisi deserunt cumque fuga repellat, tempora iusto harum quasi! Earum veniam eius porro magnam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla aliquam provident doloremque voluptatum ipsum explicabo, fugiat optio temporibus possimus harum eaque quam totam odio sunt voluptates? Vitae quam delectus doloribus.
                        

                    .main-share
                        .share
                            #shareTour
                    
                    .main-contact-link(data-aos="fade-up" data-aos-duration='500') 
                        a(href="#")
                            .content
                                h4 Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                h5 Laboriosam minus vitae aut autem fugit exercitationem dolorum eum rerum
            .col-md-4
                .main-tour-other
                    .title-other
                        h3 Other Posts
                    .tour-other
                        .item(data-aos="fade-left" data-aos-duration='500') 
                            a(href="#")
                                figure
                                    .image
                                        img(src="./assets/img/blog/blog-img-9.png", alt="alt")
                                    figcaption
                                        .title
                                            h4 Lorem ipsum dolor sit
                        .item(data-aos="fade-left" data-aos-duration='1000') 
                            a(href="#")
                                figure
                                    .image
                                        img(src="./assets/img/blog/blog-img-4.png", alt="alt")
                                    figcaption
                                        .title
                                            h4 Lorem ipsum dolor sit
                        .item(data-aos="fade-left" data-aos-duration='1000') 
                            a(href="#")
                                figure
                                    .image
                                        img(src="./assets/img/blog/blog-img-5.png", alt="alt")
                                    figcaption
                                        .title
                                            h4 Lorem ipsum dolor sit
                        .item(data-aos="fade-left" data-aos-duration='1000') 
                            a(href="#")
                                figure
                                    .image
                                        img(src="./assets/img/blog/blog-img-6.png", alt="alt")
                                    figcaption
                                        .title
                                            h4 Lorem ipsum dolor sit