section.banner.banner_main
    .banner_slide(data-aos="zoom-in-down" data-aos-easing="ease-out-cubic" data-aos-duration='1000') 
        img(src="./assets/img/color/color-banner-1.png", alt="")
        