section.KSM_contact-sec1
    .container
        .row
            .col-md-4 
                .contact_us
                    .contact_info.text-center(data-aos="fade-down" data-aos-duration='800')  
                        h2 Address
                        p 1160 W Osceola Pkwy, 
                            br
                            | Kissimmee, FL, US 34741

            .col-md-4
                .contact_us
                    .contact_info.text-center(data-aos="fade-up" data-aos-duration='800')    
                        h2 Phone
                        p.phone
                            a(href="tel:+14073505912") +1 (407)-350-5912
                       

            .col-md-4
                .contact_us
                    .contact_info.text-center(data-aos="fade-down" data-aos-duration='800')  
                        h2 Socials
                        ul.button-social.d-flex.align-items-center.justify-content-center
                            li 
                                a(href="#") 
                                    i.fab.fa-facebook-f
                            li 
                                a(href="#") 
                                    i.fab.fa-google-plus
section.KSM_contact-sec2
    .container
        .contact_map 
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3511.626677695607!2d-81.41747738497038!3d28.339897382534193!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88dd86c5bf605a6d%3A0x635819fa17ae43f!2s1160%20W%20Osceola%20Pkwy%2C%20Kissimmee%2C%20FL%2034741%2C%20Hoa%20K%E1%BB%B3!5e0!3m2!1svi!2s!4v1630550428035!5m2!1svi!2s" ></iframe>

    
                            
