section.banner.banner_main
    .banner_slide(data-aos="zoom-in-down" data-aos-easing="ease-out-cubic" data-aos-duration='1000') 
        img(src="./assets/img/blog/blog-banner-1.png", alt="")
        .banner_title
            h2 Blog 
            h4 Nail spa