extends _layout.pug

block var
	- var title = 'Color'
	- var href = 'Color'
	- var bodyClass = 'Color-page'

block main
	include ../components/banner/banner-color/index
	include ../components/color/index