extends _layout.pug

block var
	- var title = 'Contact'
	- var href = 'Contact'
	- var bodyClass = 'Contact-page'

block main
	include ../components/banner/banner-contact/index
	include ../components/contact-us/index