extends _layout.pug

block var
	- var title = 'Promotion'
	- var href = 'Promotion'
	- var bodyClass = 'Promotion-page'

block main
	//- include ../components/banner/index
	//- add breakcrumb
	
	include ../components/banner/banner-privacy/index
	include ../components/privacy-policy/index
