extends _layout.pug

block var
	- var title = 'Services'
	- var href = 'services'
	- var bodyClass = 'services-page'

block main
	//- include ../components/banner/index
	//- add breakcrumb
	
	include ../components/banner/banner-services/index
	include ../components/services-page/index
