section.KSM_home-sec1 
    .home_sec1-box 
        .container
            .row
                .col-md-6 
                    .sec1_content 
                        img(src="./assets/img/home/home-text-1.png", alt="")
                        h4.ff-segoe Professional Nail Care
                        p Is an upscale nail spa. When you enter <b>LOVER’S NAILS KISSIMMEE </b>, you’ll feel like you have just left Paducah, and walked into Hollywood. Owned and operated by nail technicians with years of experience, provided most up to date and high standard services, and always maintain the best level of cleanness.
                .col-md-6 
                    .sec1_video
                        a#videolink.button.more(href='#videostory')
                            .btn-play 
                                i.fas.fa-play
    #videostory.mfp-hide
        video(controls autoplay muted="")
            source(src='./assets/img/home/kissimmee.mp4')
        //- iframe( src="./assets/img/home/kissimmee.mp4" volume="0" frameborder='0' muted allow=' encrypted-media;' allowfullscreen='') 
//- SECTION 2
section.KSM_home-sec2 
    .container.home_sec2-box 
        .row
            .col-lg-7.col-xl-8
                .sec2_img-left
                    img(src="./assets/img/home/home-img-1.png", alt="")
                        //- figcaption
                        //-     .sale_content
                        //-         h2 Book now and
                        //-             br
                        //-             | get 20% off
                        //-         p If you book any service using the
                        //-             br
                        //-             |   Summer code, you'll save 20% 
                        //-             br
                        //-             |   Limited time offer - hurry up!
                        //-         button.btn-choose.button_main.d-inline-block Choose
            .col-lg-5.col-xl-4
                .sec2_content
                    .title_content
                        h4 LOVER’ NAILS KISSIMMEE
                        h2 It is time to relax!
                        span.sub-title WE CARE ABOUT
                        p - Newest Pedi Chair Technology
                        p - Contamination Worry-Free with 100% Disposable Jet-Liner
                        p - You will no longer have to share your pedicure basin
                        p - It is time to relax!
                    .img-content 
                        img(src="./assets/img/home/home-img-2.png", alt="")


//- SECTION 3
section.KSM_home-sec3
    .container
        .sec3_items 
            .row(data-aos='zoom-in-up' data-aos-duration='500')
                .col-md-6.col-lg-3
                    .items_detail 
                        .items_detail-img
                            img(src="./assets/img/home/home-item-1.png", alt="")
                        h4 Hand Care
                        p Offering a great range of products and services to keep your hands looking beautiful and feeling soft
                .col-md-6.col-lg-3
                    .items_detail 
                        .items_detail-img
                            img(src="./assets/img/home/home-item-2.png", alt="")
                        h4 Foot Care
                        p Foot care advanced offers you effective products with more advanced benefits such as repair and protection for dry and rough foot
                .col-md-6.col-lg-3
                    .items_detail 
                        .items_detail-img
                            img(src="./assets/img/home/home-item-3.png", alt="")
                        h4 Natural nail
                        p A basic manicure is your standard manicure. Choosing paint colors and shaping nails is important to create a natural nail
                .col-md-6.col-lg-3
                    .items_detail 
                        .items_detail-img
                            img(src="./assets/img/home/home-item-4.png", alt="")
                        h4 Artificial nail
                        p This service features powders, gels to create long nails and luxurious designs
//- Section-4
section.KSM_home-sec4
    .container
        .sec4_content
            .sec4_content-img.text-right(data-aos='fade-up' data-aos-duration='1500') 
                .img-boder
                    img(src="./assets/img/home/home-img-3.png", alt="" )
                    .content_title-left
                        h3 Enjoy the
                            br
                            | Difference
            .sec4_img-line  
                img(src="./assets/img/home/home-line-1.png", alt="")
                
            
    
    .content_title_right(data-aos='fade-left' data-aos-duration='1500') 
        h3 Enjoy the Difference

//- Section-5
section.KSM_home-sec5
    .container
        .sec5-content
            .row
                .col-md-6.sec5_content-right
                    .content_right-title
                        h3 Our Feedback
                        p.subtitle Our salon has the capability to serve the grandest of parties with our spacious setting and specially designed manicure bar, so you won't lose sight of your friends. 
                    .content_right-carousel 
                        .slick-items 
                            ul
                                li
                                    .content_img-avt
                                        img(src="./assets/img/home/home-user-1.png", alt="")
                                    .content-detail 
                                        p It was our first time going to this nail salon and my boyfriend and I were beyond impressed. My and Sam performed are pedicures and they were such great salon technicians. They are super friendly and make sure your experience is relaxing and fun. I highly recommend this location and salon. I will definitely be going back !!!
                                        h3.user_name Elizabeth
                                li
                                    .content_img-avt
                                        img(src="./assets/img/home/home-user-1.png", alt="")
                                    .content-detail 
                                        p I went to Lover's Nails hour before closing time and they were friendly enough to take me in as walk-in even though they prefer for you to book an appointment. The staff is very friendly and engaged with their customers. 10/10 recommended  I will be going back for my next set of nails
                                        h3.user_name Jennifer
                            ul
                                li
                                    .content_img-avt
                                        img(src="./assets/img/home/home-user-1.png", alt="")
                                    .content-detail 
                                        p It was our first time going to this nail salon and my boyfriend and I were beyond impressed. My and Sam performed are pedicures and they were such great salon technicians. They are super friendly and make sure your experience is relaxing and fun. I highly recommend this location and salon. I will definitely be going back !!!
                                        h3.user_name Elizabeth
                                li
                                    .content_img-avt
                                        img(src="./assets/img/home/home-user-1.png", alt="")
                                    .content-detail 
                                        p I went to Lover's Nails hour before closing time and they were friendly enough to take me in as walk-in even though they prefer for you to book an appointment. The staff is very friendly and engaged with their customers. 10/10 recommended  I will be going back for my next set of nails
                                        h3.user_name Jennifer
                            ul
                                li
                                    .content_img-avt
                                        img(src="./assets/img/home/home-user-1.png", alt="")
                                    .content-detail 
                                        p It was our first time going to this nail salon and my boyfriend and I were beyond impressed. My and Sam performed are pedicures and they were such great salon technicians. They are super friendly and make sure your experience is relaxing and fun. I highly recommend this location and salon. I will definitely be going back !!!
                                        h3.user_name Elizabeth
                                li
                                    .content_img-avt
                                        img(src="./assets/img/home/home-user-1.png", alt="")
                                    .content-detail 
                                        p I went to Lover's Nails hour before closing time and they were friendly enough to take me in as walk-in even though they prefer for you to book an appointment. The staff is very friendly and engaged with their customers. 10/10 recommended  I will be going back for my next set of nails
                                        h3.user_name Jennifer
                            ul
                                li
                                    .content_img-avt
                                        img(src="./assets/img/home/home-user-1.png", alt="")
                                    .content-detail 
                                        p It was our first time going to this nail salon and my boyfriend and I were beyond impressed. My and Sam performed are pedicures and they were such great salon technicians. They are super friendly and make sure your experience is relaxing and fun. I highly recommend this location and salon. I will definitely be going back !!!
                                        h3.user_name Elizabeth
                                li
                                    .content_img-avt
                                        img(src="./assets/img/home/home-user-1.png", alt="")
                                    .content-detail 
                                        p I went to Lover's Nails hour before closing time and they were friendly enough to take me in as walk-in even though they prefer for you to book an appointment. The staff is very friendly and engaged with their customers. 10/10 recommended  I will be going back for my next set of nails
                                        h3.user_name Jennifer
                            ul
                                li
                                    .content_img-avt
                                        img(src="./assets/img/home/home-user-1.png", alt="")
                                    .content-detail 
                                        p It was our first time going to this nail salon and my boyfriend and I were beyond impressed. My and Sam performed are pedicures and they were such great salon technicians. They are super friendly and make sure your experience is relaxing and fun. I highly recommend this location and salon. I will definitely be going back !!! 
                                        h3.user_name Elizabeth
                                li
                                    .content_img-avt
                                        img(src="./assets/img/home/home-user-1.png", alt="")
                                    .content-detail 
                                        p I went to Lover's Nails hour before closing time and they were friendly enough to take me in as walk-in even though they prefer for you to book an appointment. The staff is very friendly and engaged with their customers. 10/10 recommended  I will be going back for my next set of nails
                                        h3.user_name Jennifer
                            
                .col-md-6.sec5_content-left
                    .content_left-img(data-aos='zoom-in-left' data-aos-duration='1000')
                        .img-box
                            .img-border
                                img(src="./assets/img/home/home-img-4.png", alt="" )
                            .img_border-box
                                img(src="./assets/img/home/home-line-2.png", alt="" )

//- SECTION 6
section.KSM_home-sec6
    .sec6_background-img
        img(src="./assets/img/home/home-banner-3.png", alt="")
        .container 
            .sec6-title(data-aos="fade-left" data-aos-duration='1000') 
                h2 CHOOSE THE BEST
                    br
                    | ATTITUDE
                    br
                    | AND SERVICE
                p Making your treatments comfortable and fun
//- Section 7
section.KSM_home-sec7
    .container 
        .sec7-row
            .sec7-big
                .sec7_items-big
                    .title_item 
                        h3 WELCOME TO
                            span lover's nails
                    .title_img
                        img(src="./assets/img/home/home-text-2.png", alt="")
                    .items_box
                        .items_img.img-1
                            img(src="./assets/img/home/home-img-5.png", alt="")
                        .items_img.img-2
                            img(src="./assets/img/home/home-img-6.png", alt="")
                        .items_img.img-3
                            img(src="./assets/img/home/home-img-7.png", alt="")
                        .items_img.img-4
                            img(src="./assets/img/home/home-img-8.png", alt="")
                        .items_img.img-5
                            img(src="./assets/img/home/home-img-9.png", alt="")
            .sec7-small
                .sec7-items-small
                    .items_box
                        .items_img.img-6
                            img(src="./assets/img/home/home-img-10.png", alt="")
                        .items_img.img-7
                            img(src="./assets/img/home/home-img-11.png", alt="")
        .sec7_text-bottom.text-center 
            p Let’s visit, have a relaxing time, and become prettier after enjoying high-end services at one of the best
                br
                | Nail Salons in Oviedo: Lover nails Kissimmee

