section.KSM_gallery-sec1 
    .container 
        .gallery_title.text-center
            h3 SHINE FROM HAND TO TOES
            .sec1_title.d-inline-block.mb-4
                h2 GALLERY Nail Spa 
                .border-bot 
                    img(src="./assets/img/gallery/line-bottom-text.png", alt="")
            p.sub-title.ff-segoe Welcome to Lover's Nails Kissimmee where we strive to bring you the best 
                br
                | and most hygienic spa and nail care services available, the best looking and 
                br
                | tailored to your personality through each nail set
        .swiper_items.text-center
            .swiper-container.list_box
                .swiper-wrapper
                    .swiper-slide
                        .item_box
                            .item_img
                                img(src="./assets/img/gallery/gallery-img-1.png", alt="")
                                .img_decorate-1
                                    img.move-2(src="./assets/img/gallery/gallery-item-1.png", alt="")
                            
                    .swiper-slide
                        .item_box
                            .item_img
                                img(src="./assets/img/gallery/gallery-img-2.png", alt="") 
                                .img_decorate-1
                                    img.move-2(src="./assets/img/gallery/gallery-item-1.png", alt="")
                            
                    .swiper-slide
                        .item_box
                            .item_img
                                img(src="./assets/img/gallery/gallery-img-3.png", alt="") 
                                .img_decorate-1
                                    img.move-2(src="./assets/img/gallery/gallery-item-1.png", alt="")
                            
                    .swiper-slide
                        .item_box
                            .item_img
                                img(src="./assets/img/gallery/gallery-img-4.png", alt="")
                                .img_decorate-1
                                    img.move-2(src="./assets/img/gallery/gallery-item-1.png", alt="")
                            
            .swiper-pagination
    .left-wall-atach.move-2 
        img(src="./assets/img/gallery/gallery-item-2.png", alt="")
    .right-wall-atach.move-2 
        img(src="./assets/img/gallery/gallery-item-3.png", alt="")
//- Gallery Section 2
.KSM_gallery-sec2 
    .container 
        .sec2_title
            h3 GALLERY
            h4 lover's nails kissimmee
//- Gallery Section 3
.KSM_gallery-sec3
    .container 
        .row
            .col-sm-6.col-md-4 
                .sec3_items(data-aos="fade-left" data-aos-duration='500') 
                    img(src="./assets/img/gallery/gallery-img-2.png", alt="")
            .col-sm-6.col-md-4 
                .sec3_items(data-aos="fade-left" data-aos-duration='800')   
                    img(src="./assets/img/gallery/gallery-img-3.png", alt="")
            .col-sm-6.col-md-4 
                .sec3_items(data-aos="fade-left" data-aos-duration='1100')   
                    img(src="./assets/img/gallery/gallery-img-4.png", alt="")
            .col-sm-6.col-md-4 
                .sec3_items(data-aos="fade-right" data-aos-duration='1100')   
                    img(src="./assets/img/gallery/gallery-img-5.png", alt="")
            .col-sm-6.col-md-4 
                .sec3_items(data-aos="fade-right" data-aos-duration='800')   
                    img(src="./assets/img/gallery/gallery-img-6.png", alt="")
            .col-sm-6.col-md-4 
                .sec3_items(data-aos="fade-right" data-aos-duration='500') 
                    img(src="./assets/img/gallery/gallery-img-7.png", alt="")
            .col-sm-6.col-md-4 
                .sec3_items(data-aos="fade-left" data-aos-duration='500') 
                    img(src="./assets/img/gallery/gallery-img-8.png", alt="")
            .col-sm-6.col-md-4 
                .sec3_items(data-aos="fade-left" data-aos-duration='800')  
                    img(src="./assets/img/gallery/gallery-img-9.png", alt="")
            .col-sm-6.col-md-4 
                .sec3_items(data-aos="fade-left" data-aos-duration='1100')  
                    img(src="./assets/img/gallery/gallery-img-10.png", alt="")