footer#footer
    .container
        .row 
            .col-md-4 
                .footer_items 
                    ul.item-address 
                        li.mt-3 
                            img(src="./assets/img/utils/icon-phone.png", alt="")
                            span +1 (407)-350-5912
                        li.my-4 
                            img(src="./assets/img/utils/icon-address.png", alt="")
                            span 1160 W Osceola Pkwy, Kissimmee,
                                br
                                |   FL, US 34741
            .col-md-4 
                .footer_items
                    .hours_title 
                        img(src="./assets/img/utils/icon-clock.png", alt="")
                        span Business Hours
                    ul.hours.mt-3
                        li 
                            p Monday – Saturday: 09:30 am – 19:30 pm
                        li 
                            p Sunday: 11:00 am – 17:00 pm

            .col-md-4 
                .footer_items
                    .footer_social.d-flex-align-items-center
                        ul.button-social.d-flex.align-items-center.justify-content-center
                            li 
                                a(href="https://www.facebook.com/lovernailandspa/") 
                                    i.fab.fa-facebook-f
                            li 
                                a(href="https://www.google.com/maps/place/Lover's+Nails+Spa+Kissimmee/@28.3398974,-81.4174774,17z/data=!3m1!4b1!4m5!3m4!1s0x88dd86c50eca8123:0xa8afd4a9c01a9290!8m2!3d28.3398974!4d-81.4152887") 
                                    i.fab.fa-google-plus
                            button.btn-main.btn-booking 
                                a(href="https://www.vagaro.com/loversnailsspakissimmee")  Booking

                        
                        
