//- About Section 1
section.KSM_about-sec1
    .container 
        .row
            
            .col-lg-6 
                .sec1_content-text 
                    .title_item.mb-3.text-center
                        h3 WELCOME TO
                            span lover's nails 
                    .sec1_title.text-center(data-aos="fade-left" data-aos-duration='500')
                        h2 KISSIMMEE
                    .sec1_desc(data-aos="fade-up" data-aos-duration='1500')
                        p Let’s visit, have a relaxing time, and become prettier after enjoying high-end services at one of the best Nail Salons in Kissimmee: Lover’s Nails Kissimmee Conveniently located in Kissimmee, <b> 1160 W Osceola Pkwy, Kissimmee, FL, US 34741, </b> our nail salon is proud to deliver the highest quality treatments to our customers.
                        p Lover’s Nails Kissimmee is a haven of relaxation that promotes comfort, beauty, well-being, and health. Our priorities are client-focused services, high-quality products, and above all else, grade-A sanitation standards.
                        p We are committed to bringing you the latest advances in beauty care and only use the most trusted brands in the beauty industry. Our world-class products, services, and top technologies will help you feel great and look your best!
                        p Our nail salon understands the importance of maintaining a healthy, safe environment for all of our valued guests. That is why we clean, disinfect and sanitize all of our instruments and equipment for all services and treatments. We pledge to adhere to the highest industry standards.
                        p Enjoy our wide range of services in a cozy and luxurious environment. We look forward to serving you!
            .col-lg-6 
                .sec1_content-img.text-center(data-aos="fade-right" data-aos-duration='1000')
                    .content-img
                        img(src="./assets/img/about/about-img-1.png", alt="")
                    .wall-flower-top.move-2
                        img(src="./assets/img/about/about-flower-1.png", alt="")
                    .wall-flower-bottom-right.move-2 
                        img(src="./assets/img/about/about-flower-1.png", alt="")
                    .wall-flower-bottom-left.move-2
                        img(src="./assets/img/about/about-flower-2.png", alt="")
                    .wall-lipton-bottom
                        img(src="./assets/img/about/about_lipstick.png", alt="")
        .row.mt-3
            .col-lg-6 
                .sec1_content-img.text-center(data-aos="fade-right" data-aos-duration='1000')
                    .content-img
                        img(src="./assets/img/about/about-img-2.png", alt="")
            .col-lg-6 
                .sec1_content-text.content_bottom 
                    .title_item.mb-3(data-aos="fade-left" data-aos-duration='500')
                        h3 LOVER’S NAILS KISSIMMEE
                        .border-bot
                            img(src="./assets/img/about/about-lineText-1.png", alt="")
                    .sec1_desc(data-aos="fade-up" data-aos-duration='1500')
                        p.ff-segoe.mb-4 lover’s nails kissimmee opened its doors, with a team of talented, passionate, caring, creative people dedicated to doing great nails and giving our clients amazing experiences
                        p We are always looking for the best, most natural products we can find. When you walk into our doors, you will be greeted with a smile and taken care of by everyone on our team. Every moment of your visit should be enjoyable and relaxed
//- About Section 2
section.KSM_about-sec2
    .container 
        .sec2_content.text-center
            .sec2_title(data-aos="fade-right" data-aos-duration='500')
                h2 What we offer
            .sec2_desc(data-aos="fade-left" data-aos-duration='500')
                p.ff-segoe We offer professional beauty services for affordable price.
                    br
                    | Become beautiful and save your budget with our amazing prices.


//- About Section 3
section.KSM_about-sec3.KSM_about-sec1
    .container 
        .row
            .col-md-6 
                .sec1_content-text 
                    .sec1_title(data-aos="fade-right" data-aos-duration='500') 
                        h2 OUR HISTORY
                            .wall-flower-right.move-2 
                                img(src="./assets/img/about/about-flower-4.png", alt="")
                        .border-bot 
                            img(src="./assets/img/about/about-lineText-1.png", alt="")
                    .sec1_desc(data-aos="fade-left" data-aos-duration='500')
                        p.ff-segoe Lover's Nails KISSIMMEE is dedicated to the artistry of nail care and skin enrichment
                        p We are passionate about our career and have devoted over to the industry.
                        p When you walk through our doors, you will find that our friendly seasoned staff will be happy to assist you with all your beauty needs
                    .wall-flower-left.move-2
                        img(src="./assets/img/about/about-flower-3.png", alt="")
            .col-md-6 
                .sec3_content-img(data-aos="fade-up" data-aos-duration='1000')
                    img(src="./assets/img/about/about-img-3.png", alt="")
                

//- About Section 4
section.KSM_about-sec4
    .container 
        .sec4_content.text-center
            .sec4_title-text
                .sec4_title
                    h2 Our Team
                .sec4_desc
                    p These charming ladies know how to treat beauty. Meet them closer
            .sec4_title-img
                img(src="./assets/img/about/about-flower-5.png", alt="")
            .border-content 
                img(src="./assets/img/about/about-border-1.png", alt="")
//- About Section 5
//- section.KSM_about-sec5
//-     .container 
//-         .row
//-             .col-sm-4 
//-                 .sec5_cards(data-aos="fade-right" data-aos-duration='1000') 
//-                     figure
//-                         .sec5_card-img 
//-                             img(src="./assets/img/about/about-img-4.png", alt="")
//-                         figcaption
//-                             .sec5_card-title.text-center.mt-2.mb-2 
//-                                 h3 Ana Adamson
//-                                 span Nail Tech / Manager
//-                             .sec5_card-desc 
//-                                 p I have moved back to US after being away for 2 years. I enjoy meeting new people and being a nail tech allows me to do that. I am so excited to be working at nail Spa with the concept and philosophy we apply here
//-             .col-sm-4 
//-                 .sec5_cards(data-aos="fade-up" data-aos-duration='500') 
//-                     figure
//-                         .sec5_card-img 
//-                             img(src="./assets/img/about/about-img-5.png", alt="")
//-                         figcaption
//-                             .sec5_card-title.text-center.mt-2.mb-2 
//-                                 h3 Helen Barnes
//-                                 span Nail Tech / Lead Nail Tech
//-                             .sec5_card-desc 
//-                                 p Hey there, my name is Helen, I’ve always been in love with the beauty industry, and I enjoy making people look and feel beautiful! When not at work I enjoy nature, photography, and hanging around great friends and family. I’m looking forward to meeting you at Kissimmee.
//-             .col-sm-4 
//-                 .sec5_cards(data-aos="fade-left" data-aos-duration='1000') 
//-                     figure
//-                         .sec5_card-img 
//-                             img(src="./assets/img/about/about-img-6.png", alt="")
//-                         figcaption
//-                             .sec5_card-title.text-center.mt-2.mb-2 
//-                                 h3 Olivia Grosh
//-                                 span Nail Tech
//-                             .sec5_card-desc 
//-                                 p There’s no place like home except for at Lover’s Nails & Spa! My name is Olivia and I’m excited to meet you. My specialty is nail art. It’s a huge passion of mine to create unique, beautiful or even wild designs for my clients. I love making people feel good about themselves while listening to their stories. I look forward to seeing your beautiful face here at Lover’s Nails & Spa.


//- About Section 6
section.KSM_about-sec6
     .container 
        .sec6_content.text-center
            .sec6_title(data-aos="fade-right" data-aos-duration='500')
                h2 WHY CHOOSE US
                span.ff-segoe Our salon will create an original image for your personality
            .sec6_desc.text-left(data-aos="fade-left" data-aos-duration='500')
                p We are dedicated to providing the best experience for each guest through our exceptional service and technical excellence. 
                    br
                    | Our privilege is to provide you with a comfortable and friendly place where you can truly relax, rejuvenate, and be pampered from tip to toe.
                    br
                    | We understand that safety and a sanitized setting are keys to delivering unforgettable and enjoyable experiences. We use disposable liners for our pedicure chairs, brand new nail files, and buffers for every client and discard them after each treatment.
                    br
                    | Each service kit will be individually sterilized for your visit. 
                    br
                    | Our staff will follow the service procedures that have been proven effective for your safety so that you can one hundred percent lavish yourself in comfort.
            p.ff-segoe(data-aos="fade-up" data-aos-duration='1500') Thank you for being our guest!

