
section.KSM_blog-sec1
    .container
        .sec1-title 
            h2 Lover's nails 
                span kissimmee
        .row
            .col-md-5
                .sec1_img(data-aos="fade-left" data-aos-duration='500') 
                    img(src="./assets/img/blog/blog-img-1.png", alt="")
            .col-md-7
                .sec1_content
                    figure
                        img(src="./assets/img/blog/blog-img-2.png", alt="")
                        figcaption
                            .date
                                i.fas.fa-calendar
                                date 20/07/2021
                            .sec1_content-title
                                h3 LOVER’S NAILS KISSIMMEE..........................................................
                            .content_detail(data-aos="fade-up" data-aos-duration='800') 
                                
                                .brief-content
                                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse 

            
section.KSM-newsletter.main-section
    .container
        
        .row.newsletter-top
            .col-lg-6.newsletter-big
                .item
                    a(href="blog-detail.html")
                        figure
                            .image
                                img(src="./assets/img/blog/blog-img-3.png", alt="")
                            figcaption
                                .date
                                    i.fas.fa-calendar
                                    date 20/07/2021
                                .title
                                    h3 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate quos quod at itaque, maiores iusto, nobis.
                                .brief-content
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum nobis magni nihil eum, in illo provident! Culpa facilis placeat quasi labore. Rem molestiae nemo quidem, omnis eveniet numquam obcaecati dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat quis illum corrupti maxime enim. Eos esse omnis suscipit exercitationem? At, labore eum architecto libero recusandae minus unde reiciendis excepturi? Officia? 
            .col-lg-6.newsletter-small
                .item(data-aos="fade-left" data-aos-duration='500') 
                    a(href="#")
                        figure
                            .image
                                img(src="./assets/img/blog/blog-img-4.png", alt="")
                            figcaption
                                .date
                                    i.fas.fa-calendar
                                    date 23/07/2021
                                .title
                                    h3 Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                .brief-content
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum nobis magni nihil eum, in illo provident! Culpa facilis placeat quasi labore. Rem molestiae nemo quidem, omnis eveniet numquam obcaecati dolore.
                .item(data-aos="fade-left" data-aos-duration='500') 
                    a(href="#")
                        figure
                            .image
                                img(src="./assets/img/blog/blog-img-5.png", alt="")
                            figcaption
                                .date
                                    i.fas.fa-calendar
                                    date 17/07/2021
                                .title
                                    h3 Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                .brief-content
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum nobis magni nihil eum, in illo provident! Culpa facilis placeat quasi labore. Rem molestiae nemo quidem, omnis eveniet numquam obcaecati dolore.
                .item(data-aos="fade-left" data-aos-duration='500') 
                    a(href="#")
                        figure
                            .image
                                img(src="./assets/img/blog/blog-img-6.png", alt="")
                            figcaption
                                .date
                                    i.fas.fa-calendar
                                    date 10/08/2020
                                .title
                                    h3 Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                .brief-content
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum nobis magni nihil eum, in illo provident! Culpa facilis placeat quasi labore. Rem molestiae nemo quidem, omnis eveniet numquam obcaecati dolore.
section.KSM-newsletter-2
    .container
        .row.newsletter-bottom
            .col-md-6.col-lg-3
                .item(data-aos="fade-right" data-aos-duration='500') 
                    a(href="#")
                        figure
                            .image
                                img(src="./assets/img/blog/blog-img-7.png", alt="")
                            figcaption
                                .date
                                    i.fas.fa-calendar
                                    date 09/08/2020
                                .title
                                    h3 Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                .brief-content
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum nobis magni nihil eum, in illo provident! Culpa facilis placeat quasi labore. Rem molestiae nemo quidem, omnis eveniet numquam obcaecati dolore.
            .col-md-6.col-lg-3
                .item(data-aos="fade-up" data-aos-duration='500') 
                    a(href="#")
                        figure
                            .image
                                img(src="./assets/img/blog/blog-img-8.png", alt="")
                            figcaption
                                .date
                                    i.fas.fa-calendar
                                    date 22/06/2021
                                .title
                                    h3 Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                .brief-content
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur iure tempora unde architecto deleniti tempore animi illum harum ratione ab dolore temporibus, dolorum ad provident incidunt, accusamus sapiente officiis magni?
            .col-md-6.col-lg-3
                .item(data-aos="fade-up" data-aos-duration='500') 
                    a(href="#")
                        figure
                            .image
                                img(src="./assets/img/blog/blog-img-9.png", alt="")
                            figcaption
                                .date
                                    i.fas.fa-calendar
                                    date 08/08/2020
                                .title
                                    h3 Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                .brief-content
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Id unde tenetur nihil cumque quaerat ducimus illum quam quas officiis sapiente, reprehenderit praesentium dolore facere porro dignissimos recusandae perspiciatis itaque. Rerum!
            .col-md-6.col-lg-3
                .item(data-aos="fade-left" data-aos-duration='500') 
                    a(href="#")
                        figure
                            .image
                                img(src="./assets/img/blog/blog-img-10.png", alt="")
                            figcaption
                                .date
                                    i.fas.fa-calendar
                                    date 05/08/2020
                                .title
                                    h3 Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                .brief-content
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos aliquam a voluptatibus tenetur eligendi iusto recusandae? Culpa quis non libero, sequi, deserunt similique in, itaque id maxime unde deleniti perferendis.
.pagination_button 
    .btn_select.text-center
        
        button.btn-prev
            i.fas.fa-chevron-left
        button.btn-number.active 
            p 1
        button.btn-number 
            p 2
        button.bnt-next
             i.fas.fa-chevron-right