section.VMN_promotion-sec1 
    .container
        .sec1_content.text-center 
            .promotion_title.text-border-bottom(data-aos="fade-right" data-aos-duration='800') 
                h2 Montserrat 
            p.ff-segoe.sub_title(data-aos="fade-left" data-aos-duration='800')  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                br
                | nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
            
