header#navbar
  .container
    .header_top#header_top
      .main-logo.text-center
        img(src="./assets/img/logo/logo.png", alt="")
    .header_bottom
      nav.navbar.navbar-expand-lg.navbar-light
        button.navbar-toggler.ml-auto(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse.text-center
          ul.navbar-nav
            li.nav-item
              a.nav-link(href='index.html')
                | Home 
            li.nav-item
              a.nav-link(href='about.html') About us 
            li.nav-item
              a.nav-link(href='services.html') Services
            li.nav-item
              a.nav-link(href='gallery.html') Gallery
            li.nav-item
              a.nav-link(href='privacy.html') Privacy Policy
            li.nav-item
              a.nav-link(href='color.html') Color chart
            li.nav-item
              a.nav-link(href='contact.html') Contact us
          ul.button-social.d-flex.align-items-center.justify-content-center
            li 
              a(href="https://www.facebook.com/lovernailandspa/") 
                i.fab.fa-facebook-f
            li 
              a(href="https://www.google.com/maps/place/Lover's+Nails+Spa+Kissimmee/@28.3398974,-81.4174774,17z/data=!3m1!4b1!4m5!3m4!1s0x88dd86c50eca8123:0xa8afd4a9c01a9290!8m2!3d28.3398974!4d-81.4152887") 
                i.fab.fa-google-plus
            button.btn-main.btn-booking 
              a(href="https://www.vagaro.com/loversnailsspakissimmee") Booking

            

      

