section.KSM_sevices-sec1
    .container 
        .sec1_box.text-center
            .sec1_title-name
                h3 LOVER’S NAILS KISSIMMEE
            .sec1_title-page
                h2 MENU
                .attach_title-page 
                    img(src="./assets/img/services/services-attach-1.png", alt="")
            p.subtitle.ff-segoe Professional Nail Care
section.KSM_sevices-sec2
    .container
        .row 
            .col-md-6
                .sec2_manicures-text
                    .item_text-box
                        .item_info
                            p.title MANICURES
                            .item_price
                                p.name Express Mani  
                                span.price $15
                            .item_price
                                p.name Deluxe Herbal Mani  
                                span.price $30
                            .item_price
                                p.name V.i.p Signature Mani   
                                span.price $35
                            .item_price
                                p.name Gel Polish w/ Express Mani 
                                span.price $30
                    .item-img
                        img(src="./assets/img/services/services-img-1.png", alt="")
            .col-md-6
                .sec2_manicures-img
                    .img-border
                        img(src="./assets/img/services/services-img-2.png", alt="")
                        .border-picture 
                            img(src="./assets/img/services/services-border-text-1.png", alt="")
    .sec2_attach-1
        img(src="./assets/img/services/services-attach-10.png", alt="")
    .sec2_attach-2
        img(src="./assets/img/services/services-attach-11.png", alt="")
    .sec2_attach-3
        img(src="./assets/img/services/services-attach-12.png", alt="")
    .sec2_attach-4
        img(src="./assets/img/services/services-attach-13.png", alt="")
    .sec2_attach-5
        img(src="./assets/img/services/services-attach-14.png", alt="")

section.KSM_services-sec3
    .container
        .row
            .col-lg-5
                .sec3_content
                    .content_img-big
                        img(src="./assets/img/services/services-img-33.png", alt="") 
            .col-lg-5
                .sec3_content 
                    .content_text
                        .content_text-title
                            h3 SNS HEALTHY DIP NAILS
                        .item_info
                            .item_price
                                p.name SNS Natural Dip
                                span.price $40
                            .item_price
                                p.name SNS Pink & White Dip 
                                span.price $50
                            .item_price
                                p.name Ombré Dip 
                                span.price $55
                            .item_price
                                p.name Add Reg Mani with Dip Nails
                                span.price + $10
                        p.note.ff-segoe (Upcharge for tips extension & custom shape)   
            .col-lg-2
                .sec3_content.content-last 
                    .content_img-small
                        img(src="./assets/img/services/services-attach-2.png", alt="")
section.KSM_services-sec4
    .container-fluid
        .sec4_main
            .row
                .col-lg-6
                    .sec4_content-text
                        .services_list(data-aos="fade-right" data-aos-duration='1000') 
                            .title_table
                                h2 ARTIFICIAL ENHANCEMENTS
                            table.table.table-borderless
                                thead
                                    tr
                                        th(scope='col')
                                        th.box-price.th-2.text-right(scope='col') Full Set /
                                        th.box-price.th-3(scope='col') Filling
                                tbody
                                    tr
                                        td Reg Acrylic
                                        td.box-price.td-2.text-center $30
                                        td.box-price.pl-3 $20
                                    tr
                                        td White/ American Tips
                                        td.box-price.td-2.text-center $35
                                        td.box-price.pl-3 $20
                                    tr
                                        td Pink & White Acrylic  
                                        td.box-price.td-2.text-center $45
                                        td.box-price.pl-3 $40
                                    tr
                                        td Color Acrylic   
                                        td.box-price.td-2.text-center $45
                                        td.box-price.pl-3 $35
                                    tr
                                        td Liquid Gel
                                        td.box-price.td-2.text-center $55 
                                        td.box-price.pl-3 $40
                                    tr
                                        td Ombre Acrylic ( 2 Tones )  
                                        td.box-price.td-2.text-center $55
                                        td.box-price.pl-3 $50
                                    tr
                                        td Polygel  
                                        td.box-price.td-2.text-center $55
                                        td.box-price.pl-3 $50
                                   
                .col-lg-6
                    .sec4_content-img
                        img(src="./assets/img/services/services-img-34.png", alt="")    
    .sec4_background-attach 
        img(src="./assets/img/services/services-attach-3.png", alt="")

section.KSM_services-sec5
    .container
        .row
            .col-md-3
                .sec5_content-box
                    .sec5_content-img
                        img(src="./assets/img/services/services-img-3.png", alt="")
                        .img_border-top
                            img(src="./assets/img/services/services-attach-6.png", alt="")
            .col-md-9
                .sec5_content-box
                    .sec5_content-text
                        .sec5_title 
                            h3 Pedicure 
                            p.subtitle All pedicures include foot soak, Nails and Cuticle Trim, Heel Scrub, Hot Towel, Lotion
                                br
                                | Massage, And Polish. Enjoy a “Mimosa” with our Premium Pedicures.
                        .row
                            .col-lg-5 
                                .sec5_row-small
                                    .row_small-text
                                        .item_info
                                            .item_price
                                                p.name Express Pedicure
                                                span.price $27
                                            p Include foot soak, nails and cuticle trim, heel scrub, 1 warm towel, lotion.
                                        .item_info
                                            .item_price
                                                p.name Classic Pedicure
                                                span.price $35
                                            p Express Pedi + Callus Removal + 1 Flower Scented Hot Towel 
                                        .item_info
                                            p.decs - Choice of Paraffin Wax Treatment or Hot Stones Massage.
                                            .item_price
                                                p.name Citrus Deluxe 
                                                span.price $40
                                            p Extension of Classic Pedi + Citrus Sugar Scrub + Citrus Maske + Callus Removal + Flowers Scented Warm Towels.
                                            p - Choice of Paraffin Wax Treatment or Hot Stones Massage. 
                            .col-lg-7 
                                .sec5_row-small
                                    .row_small-box
                                        .row_small-img.border-radius-img
                                            img(src="./assets/img/services/services-img-4.png", alt="")
section.KSM_services-sec6
    .container
        .row
            .col-lg-6 
                .sec6_items 
                    .item_info
                        .item_price
                            p.name O.P.I Tropical Paradise
                            span.price $40
                        p Extension of Citrus Pedi + Sea Salt Soak + Paraffin Wax Treatment & Hot Stones Massage and finish off with Flower Scented Warm Towels. 
                    .item_info
                        p - Select your OPI Tropical Scents: Lavender, Cucumber, Citrus.
                        .item_price
                            p.name Milk or Matcha & Honey  
                            span.price $50
                        p Submerge your feet in our moisturizing Milk or Matcha & Honey Infusion. This natural process used the “lactic acid” found in dairy milk & matcha combine with soothing honey to soften those hard-working feet.  Include Milk Bath Soak + Sugar Scrub + Maske + Callus Removal + Paraffin Wax Treatment & Hot Stones Massage and finish off with Scented Warm Towels.  
                       
            .col-lg-6
                .sec6_items
                    .row
                        .col-sm-6 
                            .item-img.border-radius-img
                                img(src="./assets/img/services/services-img-5.png", alt="")
                        .col-sm-6 
                            .item-img.border-radius-img.img-last
                                img(src="./assets/img/services/services-img-6.png", alt="")
section.KSM_service-sec7
    .container
        .row
            .col-md-5
                .sec7_items
                    .item_img 
                        img(src="./assets/img/services/services-img-7.png", alt="")
            .col-md-7
                .sec7_items 
                    .item_info
                        .item_price
                            p.name Cleo Pedi Bomb Detox 
                            span.price $50
                        p Try our NEW Cleo Pedi BOMB Detox, formulated to absorbs minerals & impurities from life routine. The process includes the use of Jojoba Bead Scrub for exfoliation and Collagen Mask treatment to rejuvenate the skin texture. Include Intensive Callus Removal + Hot Stones Massage + Paraffin Wax Treatment & Warm Towels. 
                        p Select your Pedi Bomb Scents: Lavender, Papaya & Cucumber, Milk & Lemon, Pomegranate, Green Tea, Blackberry & Basil.  
section.KSM_services-sec8 
    .container 
        .row
            .col-md-6.col-lg-4 
                .sec8_items 
                    figure
                        .item-img 
                            img(src="./assets/img/services/services-img-8.png", alt="")
                        figcaption 
                            .item_info
                                .item_price
                                    p.name Organic Signature
                                    span.price $50
                                p Pampered yourself with our Signature Organic Pedi process that 100 % Fresh & Free of harsh chemical usage. Include Intensive Callus Removal  
                                p + Hot Stones Massage + Paraffin Wax Treatment & Warm Towels 
                                p Select your ORGANIC Scents:  Lavender, Eucalyptus, CBD Calm, Lemongrass, Vitamin, Jasmine, Charcoal, Green Tea, Olive, Cucumber, Mango, Ocean, Pomegranate.                               
            .col-md-6.col-lg-4 
                .sec8_items 
                    figure
                        .item-img 
                            img(src="./assets/img/services/services-img-9.png", alt="")
                        figcaption 
                            .item_info
                                .item_price
                                    p.name Gentleman Pedicure
                                    span.price $55
                                p A Pedi especially formulated for men with hardworking feet. An unforgettable sensual scent leaving the feet refreshed. Include Intensive Callus Treatment + Extended Hot Stones Massage + Paraffin Wax Treatment & Scented Warm Towels.  
                                             
            .col-md-6.col-lg-4  
                .sec8_items 
                    figure
                        .item-img 
                            img(src="./assets/img/services/services-img-10.png", alt="") 
                        figcaption 
                            .item_info
                                .item_price
                                    p.name Himalayan Seasalt & Oat Antioxidant 
                                    span.price $55
                                p Let all your cares slip away with our new antioxidant pedicure. This treatment uses the therapeutic benefit of Himalayan Seasalt & Oats to influence mood, uplift the senses and promote well-being. A pedicure that can soothe tired feet; provide relaxation for the mind and body. 
                                p Include Himalayan Sea Salt +Coffee Scrubs + Oatmeal Mask + Hot Stones Massage + Paraffin Wax + Hot Towels.                               
            .col-md-6.col-lg-4 
                .sec8_items 
                    figure
                        .item-img 
                            img(src="./assets/img/services/services-img-11.png", alt="")
                        figcaption 
                            .item_info
                                .item_price
                                    p.name Coco No5 Parfum
                                    span.price $55
                                p Base of Coco Chanel No5 Parfum. This pedicure is formulated to relieve stress with natural sea salt, sugars and oils to boost vibrancy of the skin. In addition, the creamy mask draw out the impurities and added Collagen Sock help maintain the skin youthful beauty. Lastly, enjoy a take home moisturizer to maintain the skin softness.   
                                p Include Intensive Callus Removal + Hot Stones Massage + Paraffin Wax & Scented Warm Towels.
            .col-md-6.col-lg-4 
                .sec8_items 
                    figure
                        .item-img 
                            img(src="./assets/img/services/services-img-12.png", alt="")
                        figcaption 
                            .item_info
                                .item_price
                                    p.name Pina Colada     
                                    span.price $55
                                p “Nothing a Pina Colada can’t fix”
                                p Immerse those lovely toes in our Pina Colada concoction with Tropical Fruits & Coconut Milk & Rum. Let yourself relax from a hard day at work. Include Coconut Sugar Scrub + Pina Colada Maske+ Callus Removal+ Hot Stones Massage + Paraffin Wax Treatment + Warm Towels.
                                             
            .col-md-6.col-lg-4  
                .sec8_items 
                    figure
                        .item-img 
                            img(src="./assets/img/services/services-img-13.png", alt="") 
                        figcaption 
                            .item_info
                                .item_price
                                    p.name Herbal Stress Relief   
                                    span.price $55
                                p The Perfect Stress Relief pedicure begins by customizing your own ORGANIC HERBAL recipe, which includes an Aromatic Foot Bath, Exfoliating Herbal Scrubs, Mud Masque.  Relaxing your tired feet with Collagen Socks and Extended Hot Stone Massage.
section.KSM_services-sec9
    .container
        .row
            .col-md-6
                .sec9_items
                    .item_info
                        .item_price.bold
                            p.name Volcano Collagen 
                            span.price $62
                        p A 5 -Steps Detoxifying Pedi with “Bubbling & Fizzy” action. Relax & Rejuvenate with Exfoliating Sugar Scrub + Collagen Maske + Moisturizing Collagen Socks & Extended Hot Stones Massage to relax!
            .col-md-6
                .sec9_items
                    .item-img.border-radius-img
                        img(src="./assets/img/services/services-img-14.png", alt="")
section.KSM_service-sec10 
    .container
        .sec10_content-top
            .row
                .col-md-6
                    .sec10_items
                        .item_img-box
                            .item-img.border-radius-img
                                img(src="./assets/img/services/services-img-15.png", alt="")
                .col-md-6
                    .sec10_items.sec10_items-bot
                        .item_info
                            .item_price.bold
                                p.name Lover V.I.P Fresh Jellycure & Champagne 
                                span.price $70
                            p Our most luxurious pedicure service begins with your feet soaking in a scented Jelly Cure Treatment along with Fresh Fruit & Rose Flowers. Then, slowly relax yourself with a Free Sparkling Wine bottle of your choice. Extended massage with hot stones. Feel like a “MILLION BUCK”.
        .sec10_content-bottom
            .row
                .col-md-6
                    .sec10_items.sec10_items-bot
                        .item_info
                            .item_price.bold
                                p.name 24K Gold Leaf Foil     
                                span.price $19
                            p Do you know? Gold is a natural anti-inflammatory, one that has been used to treat skin inflammations since Ancient Egypt. The antibacterial properties of gold interact directly reduce inflammation swelling, remove redness, and rejuvenate the skin. Try out our 24K New Gold Leaf Foot Mask!!
                .col-md-6
                    .sec10_items
                        .item_img-box
                            .item-img
                                img(src="./assets/img/services/services-img-35.png", alt="")
section.KSM_services-sec11
    .sec11_box 
        .sec11_content 
            .item_info
                p.title EYELASH EXTENSION
                .item_price
                    p.name Strip lashes     
                    span.price $20
                .item_price
                    p.name Cluster lashes    
                    span.price $35
                .item_price
                    p.name Individual lashes    
                    span.price $100+
                .item_price
                    p.name 6D curl collagen lash     
                    span.price $50
                .item_price
                    p.name Color & Keratin
                    span.price $20
section.KSM_services-sec12
    .container
        .row
            .col-lg-4 
                .sec12_items
                    .items_box
                        .item_content
                            .item_info
                                p.title TINTING BAR
                                .item_price
                                    p.name Eyebrows     
                                    span.price $25
                                .item_price
                                    p.name Eyebrows    
                                    span.price $35
                                .item_price
                                    p.name Eyelashes      
                                    span.price $25
                                .item_price
                                    p.name Eyelashes perm   
                                    span.price $35
                            .item_info
                                p.title THREADING
                                .item_price
                                    p.name Eyebrows     
                                    span.price $12
                                .item_price
                                    p.name Lips   
                                    span.price $8
                                .item_price
                                    p.name Chin      
                                    span.price $15 & up
                                .item_price
                                    p.name Full face
                                    span.price $45
                        .sec12_border-content
                            img(src="./assets/img/services/services-attach-15.png", alt="")
            .col-lg-8
                .sec12_items
                    .items_top
                        .row
                            .col-md-5.col-item-top-left
                                .item_top-img.top-left-img.mb-1 
                                    img(src="./assets/img/services/services-img-16.png", alt="")
                                .item_top-img.top-left-img
                                    img(src="./assets/img/services/services-img-17.png", alt="")
                            .col-md-7.col-item-top-right
                                .item_top-img.top-right-img 
                                    img(src="./assets/img/services/services-img-19.png", alt="")
                    .items_bottom 
                        .row
                            .col-md-7
                                .item_bottom-img 
                                    img(src="./assets/img/services/services-img-18.png", alt="")
                            .col-md-5
                                .item_bottom-text
                                    .item_info
                                        p.title FOOT MASSAGE
                                        .item_price
                                            p.name 30 min foot massage     
                                            span.price $30
                                        .item_price
                                            p.name 60 min foot massage   
                                            span.price $55
section.KSM_services-sec13
    .container
        .sec13_items
            .item_info
                p.title PERMANENT MAKEUP
                .item_price
                    p.name Eyebrows    
                    span.price $400
                .item_price
                    p.name Eyeliners
                    span.price $200
                .item_price
                    p.name Retouch (12-24 months ) 
                    span.price $200
                .item_price
                    p.name Lip liner
                    span.price $250
                .item_price
                    p.name Full clip color  
                    span.price $425
                .item_price
                    p.name (6-12 months)
                    span.price $150
                .item_price
                    p.name (24-36 months)
                    span.price $249

section.KSM_services-sec14
    .container
        .row
            .col-md-5
                .sec14_items-top
                    .sec14_content-box
                        .sec14_content-img
                            img(src="./assets/img/services/services-img-20.png", alt="")
                            .img_border-top
                                img(src="./assets/img/services/services-attach-16.png", alt="")
                    .sec4_attach-item 
                        img(src="./assets/img/services/services-attach-11.png", alt="")
                    .sec4_balloon-text
                        .balloon-bg
                            img(src="./assets/img/services/services-attach-7.png", alt="")
                            .balloon-text
                                p Skin
                                    br
                                    | care
                                    br
                                    | facials
            .col-md-7
                .sec14_items
                    .item_info
                        p.title SKIN CARE FACIALS
                        p.ff-segoe  (only used dermalogical)
                        .item_price
                            p.name Express Pro Skin   
                            span.price $40
                        p An express but thorough treatment, great for those on the go. your skin will be cleansed, exfoliated, massaged, leaving you totally refreshed and renewed. (30 mins)
                        .item_price
                            p.name Clinical acne treatment   
                            span.price $80
                        p An effective treatment for congested pores, designed to reduce oil while hydrating the skin (1hr)
                        .item_price
                            p.name Lover V.I.P Facial   
                            span.price $90
                        p This deep pore cleansing facial will be customized to suit your skin specific needs. your skin will be exfoliated and your pores will be gently extracted. a relaxing massage will be performed and the appropriate mask and cream will be applied
section.KSM_services-sec15
    .container 
        .row
            .col-lg-4
                .sec15_items
                    .item_info
                        p.title EXTRA SERVICES
                        .item_price
                            p.name Regular polish change hands/ toes 
                            span.price $10/$12
                        .item_price
                            p.name Gel polish change hands/toes 
                            span.price $20
                        .item_price
                            p.name French/american tips with services
                            span.price $5 up
                        .item_price
                            p.name Nail repair 
                            span.price $5 up
                        .item_price
                            p.name Acrylic toes/ fill 
                            span.price $6/$4
                        .item_price
                            p.name Cuticle trim 
                            span.price $10
                        .item_price
                            p.name Gel Polish / Acrylic/ SNS Removal 
                            span.price $5
                        p 2 simple nail design
                        .item_price
                            p.name Custom nails design 
                            span.price quoted
                        p Long nails length charge
                        p *2cm & up + &5
                        p *3cm & up + &10
                        p *4cm & up + quoted
            .col-lg-8
                .sec15_pictures 
                    .picture.pic1 
                        img(src="./assets/img/services/services-img-21.png", alt="")
                    .picture.pic2 
                        img(src="./assets/img/services/services-img-22.png", alt="")
                    .picture.pic3 
                        img(src="./assets/img/services/services-img-23.png", alt="")
                    .picture.pic4 
                        img(src="./assets/img/services/services-img-24.png", alt="")
                    .picture.pic5 
                        img(src="./assets/img/services/services-img-25.png", alt="")
                    .picture.pic6 
                        img(src="./assets/img/services/services-img-26.png", alt="")
        .sec15_bottom 
            .row
                .col-lg-7 
                    .sec15_bottom-img
                        img(src="./assets/img/services/services-img-27.png", alt="")
                .col-lg-5
                    .sec15_bottom-text
                        .item_info
                            p.title CHILDREN SERVICES
                            .item_price
                                p.name Manicure 
                                span.price $10
                            .item_price
                                p.name Pedicure
                                span.price $20
                            .item_price
                                p.name Polish change hands/ toes
                                span.price $6
section.KSM_services-sec16
    .container 
        .row
            .col-md-12.col-lg-2 
                .sec16_item-img
                    img(src="./assets/img/services/services-img-28.png", alt="")
                    .attach-img 
                        img(src="./assets/img/services/services-attach-9.png", alt="")
            .col-md-6.col-lg-5
                .sec16_items-text
                    .row 
                        .col-sm-7
                            .item_info
                                p.title WAXING
                                .item_price
                                    p.name Eyebrows  
                                    span.price $10
                                .item_price
                                    p.name Lip
                                    span.price $6
                                .item_price
                                    p.name Back
                                    span.price $45
                                .item_price
                                    p.name Behind
                                    span.price $35
                                .item_price
                                    p.name Bikini For Her
                                    span.price $30
                                .item_price
                                    p.name Brazillian For Her  
                                    span.price $70
                                .item_price
                                    p.name Cheeks
                                    span.price $15
                                .item_price
                                    p.name Chest
                                    span.price $45
                                .item_price
                                    p.name Chin
                                    span.price $10
                                .item_price
                                    p.name Ears
                                    span.price $18
                        .col-sm-5
                            .item_img
                                img(src="./assets/img/services/services-img-29.png", alt="")
                            .item_img 
                                img(src="./assets/img/services/services-img-30.png", alt="")
            .col-md-6.col-lg-5
                .sec16_items-text
                    .row 
                        .col-sm-7
                            .item_info
                                
                                .item_price
                                    p.name Feet  
                                    span.price $15
                                .item_price
                                    p.name Full Arms
                                    span.price $40
                                .item_price
                                    p.name Full Face
                                    span.price $40
                                .item_price
                                    p.name Full Legs 
                                    span.price $60
                                .item_price
                                    p.name Half Legs
                                    span.price $25
                                .item_price
                                    p.name Hands 
                                    span.price $25
                                .item_price
                                    p.name Nose
                                    span.price $10
                                .item_price
                                    p.name Stomach 
                                    span.price $20
                                .item_price
                                    p.name Underarms  
                                    span.price $20
                                .item_price
                                    p.name Upper Legs 
                                    span.price $40
                        .col-sm-5
                            .item_img
                                img(src="./assets/img/services/services-img-31.png", alt="")
                            .item_img 
                                img(src="./assets/img/services/services-img-32.png", alt="")
    .sec16_attack-bg.move-2 
        img(src="./assets/img/services/services-attach-8.png", alt="")                
section.KSM_services-sec17
    .container 
        .sec17_content 
            .item_info
                p.title COMPLIMENTARY DRINKS
                p White Wine..................................................................
                p Red Wine.......................................................................
                p Water................................................................................
                p Soda..................................................................................
                p Tea......................................................................................