.VMN_background-home.banner_main
    .banner_slide
        img(src="./assets/img/home/home-banner-1.png", alt="")
        .banner_content
            img(src="./assets/img/home/title_banner.png", alt="" data-aos="fade-up-left" data-aos-duration='2500')